body {
    background-color:beige;
    margin: 0px;
}

.nav {
    padding: 10px;
    background-color: #ffe1bf;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-family:tahoma;
    font-weight: bold;
    color: black;
}

.judul {
    text-align: center;
    font-family:Georgia;
    padding: 30px;
}

.title {
    margin: 0px;
}

#judulpage {
    font-family: cursive;
    margin: 0px;
    padding: 20px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.isi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.konten {
    text-align: center;
    padding: 5px;
}