body {
    background-color:beige;
    margin: 0px;
}

.nav {
    padding: 10px;
    background-color: #ffe1bf;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-family:tahoma;
    font-weight: bold;
    color: black;
}

.judul {
    text-align: center;
    font-family:Georgia;
    padding: 30px;
}

.title {
    margin: 0px;
}

#judulpage {
    font-family: cursive;
    margin: 0px;
    padding: 20px;
    font-weight: normal;
}

.sub-judul {
    text-align: center;
}

.isi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.tombol {
    text-align: center;
    margin: 5px;
}

p {
    margin: 0px;
}

.desc {
    max-width: 500px;
    text-align: justify;
    font-size: 14px;
    margin: 0px 150px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}